Given a string S, remove the vowels 'a', 'e', 'i', 'o', and 'u' from it, and return the new string.

Example 1:

* Input: "leetcodeisacommunityforcoders"
* Output: "ltcdscmmntyfrcdrs"

In [26]:
S = "leetcodeisacommunityforcoders"

In [29]:
def remove_vowels(S): # define a function that takes the list as a parameter
    vowels = ('a', 'e', 'i', 'o', 'u') # create a variable with all of the vowels in a list format
    
    for char in S: # for every character in the string S
        if char in vowels: # if the character is included in the vowels list
            S = S.replace(char, "") # replace the vowel
    return S

remove_vowels(S)

'ltcdscmmntyfrcdrs'

Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| PersonId    | int     |
| FirstName   | varchar |
| LastName    | varchar |
+-------------+---------+
PersonId is the primary key column for this table.
Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| AddressId   | int     |
| PersonId    | int     |
| City        | varchar |
| State       | varchar |
+-------------+---------+
AddressId is the primary key column for this table.

Write a SQL query for a report that provides the following information for each person in the Person table, regardless if there is an address for each of those people:

FirstName, LastName, City, State

### Steps:
* We want to return 4 things: FirstName, LastName, City State
* Person table includes 2 of things we want: FirstName, LastaName
* Address table also includes 2 things we want: City, State
* Use SQL's LEFT JOIN to add the data from Address table to the Person table.

In [25]:
SELECT FirstName, LastName, City State
from Person 
LEFT JOIN Address
    ON Person.PersonId = Address.PersonId
;

SyntaxError: invalid syntax (<ipython-input-25-6dd673f72ab7>, line 1)

Write function that returns the sum of the first and last elements of a given list might look like this:

In [2]:
list = [12, 2, 3, 4, 111, 100]

In [4]:
def first_plus_last(list):
    return list[0] + list[-1] # index [-1] is the last item in an array

first_plus_last(list)

112